<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>

# Protect Sensitive Files
<FilesMatch "^\.|\.env|composer\.json|composer\.lock|package\.json|package-lock\.json">
    Require all denied
</FilesMatch>
